Package: cb-welcome
Version: 0.06
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 50
Depends: terminator, cb-pipemenus
Section: misc
Priority: extra
Homepage: http://crunchbang.org/
Description: CrunchBang welcome script.
 Optional post installation script for CrunchBang Linux.
