[Desktop Entry]
Name=Thunar File Manager
Name[ar]=مدير الملفات سونار
Name[ast]=Alministrador de ficheros Thunar
Name[be]=Кіраўнік файлаў Thunar
Name[bn]=Thunar ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers Thunar
Name[cs]=Správce souborů Thunar
Name[da]=Thunar-filhåndtering
Name[de]=Dateimanager Thunar
Name[dz]=ཐུ་ནར་ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής αρχείων Thunar
Name[en_GB]=Thunar File Manager
Name[eo]=Thunar dosier-administrilo
Name[es]=Administrador de archivos Thunar
Name[et]=Failihaldur Thunar
Name[eu]=Thunar fitxategi kudeatzailea
Name[fi]=Thunar-tiedostonhallinta
Name[fr]=Gestionnaire de Fichiers Thunar
Name[gl]=Xestor de ficheiros Thunar
Name[he]=מנהל הקבצים ‎Thunar
Name[hr]=Thunar Upravitelj Datoteka
Name[hu]=Thunar fájlkezelő
Name[id]=Manajer Berkas Thunar
Name[it]=Il gestore di file Thunar
Name[ja]=Thunar ファイルマネージャ
Name[kk]=Thunar файлдар басқарушысы
Name[ko]=Thunar 파일 관리자
Name[ku]=Thunar, Gerinendeyê Pelan
Name[lt]=Thunar failų tvarkyklė
Name[lv]=Thunar failu pārvaldnieks
Name[mk]=Thunar менаџер на датотеки
Name[nb]=Thunar Filbehandler
Name[nl]=Thunar Bestandbeheerder
Name[nn]=Thunar filhandsaming
Name[pa]=ਥੰਨਰ ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików Thunar
Name[pt]=Gestor de Ficheiros Thunar
Name[pt_BR]=Gerenciador de arquivos Thunar
Name[ro]=Managerul de fișiere Thunar
Name[ru]=Файловый менеджер Thunar
Name[si]=Thunar ගොනු කළමණාකරු
Name[sk]=Správca súborov Thunar
Name[sq]=Përgjegjësi i Kartelave Thunar
Name[sv]=Filhanteraren Thunar
Name[te]=తునార్ ఫైల్ నిర్వాహకము
Name[tr]=Thunar Dosya Yöneticisi
Name[ug]=Thunar ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер Thunar
Name[ur]=تھنر فائل منیجر
Name[ur_PK]=تھنر فائل منیجر
Name[vi]=Trình quản lý tập tin Thunar
Name[zh_CN]=Thunar 文件管理器
Name[zh_TW]=Thunar 檔案管理員
Comment=Browse the filesystem with the file manager
Comment[ar]=تصفح ملفات النظام بمدير الملفات
Comment[ast]=Restolar el sistema de ficheros col alministrador de ficheros
Comment[be]=Вандроўка па файлавай сыстэме з кіраўніком файлаў
Comment[bn]=ফাইল ম্যানেজার দিয়ে ফাইলসিস্টেম ব্রাউজ করুন
Comment[ca]=Navega el sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[da]=Gennemsøg filsystem med filhåndteringen
Comment[de]=Das Dateisystem im Dateimanager anzeigen
Comment[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ་དང་བཅས་ཡིག་སྣོད་རིམ་ལུགས་འདི་བརྡ་འཚོལ་འབད།
Comment[el]=Περιήγηση του συστήματος αρχείων με τον διαχειριστή αρχείων
Comment[en_GB]=Browse the filesystem with the file manager
Comment[eo]=Rigardu dosier-sistemon per dosier-administrilo
Comment[es]=Explore el sistema de archivos con el administrador de archivos
Comment[et]=Lehitseda failisüsteemi kasutades failihaldurit
Comment[eu]=Fitxategi kudeatzaileaz fitxategi sistema arakatu
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnassa
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[gl]=Explorar o sistema de ficheiros co xestor de ficheiros
Comment[he]=עיון במערכת הקבצים עם מנהל הקבצים
Comment[hr]=Pregledaj datotečni sustav sa upraviteljem datoteka
Comment[hu]=A fájlrendszer böngészése a fájlkezelővel
Comment[id]=Ramban sistem berkas dengan manajer berkas
Comment[it]=Esplora il file system con il gestore di file
Comment[ja]=ファイルマネージャでファイルシステムを参照します
Comment[kk]=Файлдық жүйені файлдар басқарушысымен шолу
Comment[ko]=파일 관리자로 파일 시스템을 탐색합니다.
Comment[lt]=Naršyti failų sistemą su failų tvarkykle
Comment[lv]=Pārlūko failu sistēmu ar failu pārvaldnieku
Comment[mk]=Пребарајте го датотечниот систем со менаџерот на датотки
Comment[nb]=Utforsk filsystemet med filbehandleren
Comment[nl]=Met de bestandbeheerder door het bestandssysteem bladeren
Comment[nn]=Bla gjennom filsystemet med filhandsamaren
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਨਾਲ ਫਾਇਲ ਸਿਸਟਮ ਨਾਲ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przegląda system plików za pomocą menedżera plików
Comment[pt]=Navegar o sistema de ficheiros com o gestor de ficheiros
Comment[pt_BR]=Navegue no sistema de arquivos com o gerenciador de arquivos
Comment[ro]=Parcurgeți sistemul de fișiere cu managerul de fișiere
Comment[ru]=Просмотр файловой системы с помощью файлового менеджера
Comment[sk]=Prehliada súborový systém pomocou správcu súborov
Comment[sq]=Shfletoni sistemin e kartelave me përgjegjësin e kartelave
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[te]=ఫైల్ వ్యవస్థని ఫైల్ నిర్వాహకముతో విహరించు
Comment[tr]=Dosya yöneticisi ile gezin
Comment[ug]=ھۆججەت باشقۇرغۇدا ھۆججەت سىستېمىسىنى كور
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[ur]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[ur_PK]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[vi]=Duyệt hê thống tập tin với trình quản lý tập tin
Comment[zh_CN]=使用文件管理器浏览文件系统
Comment[zh_TW]=使用檔案管理員瀏覽檔案系統
GenericName=File Manager
GenericName[ar]=مدير الملفات
GenericName[ast]=Alministrador de ficheros
GenericName[be]=Кіраўнік файлаў
GenericName[bn]=ফাইল ব্যবস্থাপক
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_GB]=File Manager
GenericName[eo]=Dosier-administrilo
GenericName[es]=Administrador de archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi kudeatzailea
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl]=Xestor de ficheiros
GenericName[he]=מנהל קבצים
GenericName[hr]=Upravitelj datotekama
GenericName[hu]=Fájlkezelő
GenericName[id]=Manajer Berkas
GenericName[it]=Gestore di file
GenericName[ja]=ファイルマネージャ
GenericName[kk]=Файлдар басқарушысы
GenericName[ko]=파일 관리자
GenericName[ku]=Gerinendeyê Pelan
GenericName[lt]=Failų tvarkyklė
GenericName[lv]=Failu pārvaldnieks
GenericName[mk]=Менаџер на датотеки
GenericName[nb]=Filbehandler
GenericName[nl]=Bestandbeheerder
GenericName[nn]=Filhandsamar
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Manager de fișiere
GenericName[ru]=Файловый менеджер
GenericName[sk]=Správca súborov
GenericName[sq]=Përgjegjës Kartelash 
GenericName[sv]=Filhanterare
GenericName[te]=ఫైల్ నిర్వాహకము
GenericName[tr]=Dosya Yöneticisi
GenericName[ug]=ھۆججەت باشقۇرغۇچ
GenericName[uk]=Файловий менеджер
GenericName[ur]=فائل منیجر
GenericName[ur_PK]=فائل منیجر
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理員
Exec=Thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;

# vi:set encoding=UTF-8:
