[Desktop Entry]
Name=Bulk Rename
Name[ar]=تغيير اسم الكل
Name[ast]=Renomador masivu
Name[be]=Буйное перайменаваньне
Name[bn]=বাল্ক পুনরায় নামকরণ
Name[ca]=Canvi de nom en bloc
Name[cs]=Bulk Rename
Name[da]=Masseomdøbning
Name[de]=Bulk-Rename
Name[dz]=སྦུང་ཚད་ཅན་བསྐྱར་མིང་བཏགས།
Name[el]=Μαζική μετονομασία
Name[en_GB]=Bulk Rename
Name[eo]=Amasa Renomilo
Name[es]=Renombrador masivo
Name[et]=Hulganisti nimede muutja
Name[eu]=Berrizendatu...
Name[fi]=Joukkonimeäjä
Name[fr]=Renommer en masse
Name[gl]=Renomeador masivo
Name[he]=שינוי שם קבוצתי
Name[hu]=Csoportos átnevező
Name[id]=Ganti Nama Bulk
Name[it]=Bulk Rename
Name[ja]=バルクリネーム
Name[kk]=Thunar топтап атын ауыстыру
Name[ko]=일괄 이름변경
Name[lt]=Masinis pervadinimas
Name[lv]=Masu pārdēvēšana
Name[mk]=Bulk Rename
Name[nb]=Gi nytt navn (Bulk)
Name[nl]=Massaal hernoemen
Name[nn]=Masseomdøyping
Name[pa]=ਬਲਕ ਰੀ-ਨੇਮ
Name[pl]=Bulk Rename
Name[pt]=Renomear em massa
Name[pt_BR]=Renomear em massa
Name[ro]=Redenumire în masă
Name[ru]=Массовое переименование
Name[sk]=Hromadné premenovanie
Name[sq]=Riemërtim në Masë
Name[sv]=Massomdöpning
Name[te]=పెద్దసంఖ్యలో పేరుమార్చుట
Name[tr]=Toplu Yeniden Adlandırma
Name[ug]=Bulk Rename
Name[uk]=Масове перейменування
Name[ur]=بلک رینیم
Name[ur_PK]=بلک رینیم
Name[vi]=Đổi tên hàng loạt
Name[zh_CN]=批量重命名
Name[zh_TW]=批次重新命名
Comment=Rename Multiple Files
Comment[ar]=تغيير إسم عدة ملفات
Comment[ast]=Renomar múltiples ficheros
Comment[be]=Перайменаваньне некалькіх файлаў
Comment[bn]=একাধিক ফাইলের পুনরায় নামকরণ করুন
Comment[ca]=Canvia el nom de múltiples fitxers
Comment[cs]=Přejmenovat více souborů
Comment[da]=Omdøbning af flere filer
Comment[de]=Mehrere Dateien gleichzeitig umbenennen
Comment[dz]=སྣ་མང་ཡིག་སྣོད་ཚུ་བསྐྱར་མིང་བཏགས།
Comment[el]=Μετονομασία πολλαπλών αρχείων
Comment[en_GB]=Rename Multiple Files
Comment[eo]=Renomigu Multajn Dosierojn
Comment[es]=Renombrar múltiples archivos
Comment[et]=Muuta mitme faili nimesid
Comment[eu]=Fitxategi anitz berrizendatu
Comment[fi]=Nimeä useita tiedostoja uudelleen
Comment[fr]=Renommer plusieurs fichiers
Comment[gl]=Renomear varios ficheiros
Comment[he]=שינוי שמות לקבצים רבים
Comment[hr]=Preimenovanje više datoteka
Comment[hu]=Több fájl átnevezése
Comment[id]=Ganti Nama Banyak Berkas
Comment[it]=Rinomina più file
Comment[ja]=複数のファイル名を変更します
Comment[kk]=Бірнеше файлдардың атын ауыстыру
Comment[ko]=다중 파일의 이름을 바꿉니다.
Comment[ku]=Gelek Pelan Ji Nû Ve Binavîne
Comment[lt]=Pervadinti daug failų
Comment[lv]=Pārdēvēt vairākus failus
Comment[mk]=Преименувај повеќе датотеки
Comment[nb]=Gi nytt navn til _mange filer
Comment[nl]=Meerdere bestanden hernoemen
Comment[nn]=Gje nytt namn til fleire filer.
Comment[pa]=ਕਈ ਫਾਇਲਾਂ ਦਾ ਨਾਂ ਬਦਲੋ
Comment[pl]=Wielokrotna zmiana nazw
Comment[pt]=Renomear múltiplos ficheiros
Comment[pt_BR]=Renomeia múltiplos arquivos
Comment[ro]=Redenumire în masă de fișiere
Comment[ru]=Переименование нескольких файлов
Comment[sk]=Hromadné premenovanie
Comment[sq]=Riemërto Shumë Kartela
Comment[sv]=Byt namn på flera filer
Comment[te]=ఎక్కువ ఫైళ్ళ పేరుమార్చు
Comment[tr]=Çoklu Dosyaları Yeniden Adlandır
Comment[ug]=كوپ ھۆججەتنىڭ ئاتىنى ئۆزگەرتىش
Comment[uk]=Перейменування декілька файлів
Comment[ur]=متعدد فائلوں کا نام بدلیں
Comment[ur_PK]=متعدد فائلوں کا نام بدلیں
Comment[zh_CN]=重命名多个文件
Comment[zh_TW]=重新命名多個檔案
GenericName=Bulk Rename
GenericName[ar]=تغيير اسم الكل
GenericName[ast]=Renomador masivu
GenericName[be]=Буйное перайменаваньне
GenericName[bn]=বাল্ক পুনরায় নামকরণ
GenericName[ca]=Canvi de nom en bloc
GenericName[cs]=Bulk Rename
GenericName[da]=Masseomdøbning
GenericName[de]=Bulk-Rename
GenericName[dz]=སྦུང་ཚད་ཅན་བསྐྱར་མིང་བཏགས།
GenericName[el]=Μαζική μετονομασία
GenericName[en_GB]=Bulk Rename
GenericName[eo]=Amasa Renomilo
GenericName[es]=Renombrador masivo
GenericName[et]=Hulganisti nimede muutja
GenericName[eu]=Berrizendatu...
GenericName[fi]=Joukkonimeäjä
GenericName[fr]=Renommer en masse
GenericName[gl]=Renomeador masivo
GenericName[he]=שינוי שם קבוצתי
GenericName[hu]=Csoportos átnevező
GenericName[id]=Ganti Nama Bulk
GenericName[it]=Bulk Rename
GenericName[ja]=バルクリネーム
GenericName[kk]=Thunar топтап атын ауыстыру
GenericName[ko]=일괄 이름변경
GenericName[lt]=Masinis pervadinimas
GenericName[lv]=Masu pārdēvēšana
GenericName[mk]=Bulk Rename
GenericName[nb]=Gi nytt navn (Bulk)
GenericName[nl]=Massaal hernoemen
GenericName[nn]=Masseomdøyping
GenericName[pa]=ਬਲਕ ਰੀ-ਨੇਮ
GenericName[pl]=Bulk Rename
GenericName[pt]=Renomear em massa
GenericName[pt_BR]=Renomear em massa
GenericName[ro]=Redenumire în masă
GenericName[ru]=Массовое переименование
GenericName[sk]=Hromadné premenovanie
GenericName[sq]=Riemërtim në Masë
GenericName[sv]=Massomdöpning
GenericName[te]=పెద్దసంఖ్యలో పేరుమార్చుట
GenericName[tr]=Toplu Yeniden Adlandırma
GenericName[ug]=Bulk Rename
GenericName[uk]=Масове перейменування
GenericName[ur]=بلک رینیم
GenericName[ur_PK]=بلک رینیم
GenericName[vi]=Đổi tên hàng loạt
GenericName[zh_CN]=批量重命名
GenericName[zh_TW]=批次重新命名
Exec=/usr/lib/i386-linux-gnu/Thunar/ThunarBulkRename %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;Filesystem;

# vi:set encoding=UTF-8:
