Package: cb-configs
Version: 1.0
Architecture: all
Maintainer: crunch <crunch@crunchbang>
Installed-Size: 420
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
