/*/cache
/*/.build/
/*/binary.modified_timestamps
/*/binary/
/*/chroot.files
/*/chroot.packages.install
/*/chroot.packages.live
/*/chroot/
/*/live-image-*.contents
/*/live-image-*.files
/*/live-image-*.hybrid.iso
/*/live-image-*.hybrid.iso.zsync
/*/live-image-*.packages

