[Desktop Entry]
Name=Open Folder with Thunar
Name[ar]=إفتح المجلد بـ سونار
Name[ast]=Abrir carpeta con Thunar
Name[be]=Адкрыць тэчку ў Thunar
Name[bn]=Thunar দিয়ে ফোল্ডার খুলুন
Name[ca]=Obri el directori amb Thunar
Name[cs]=Otevřít složku aplikací Thunar
Name[da]=Åbn mappe med Thunar
Name[de]=Ordner in Thunar öffnen
Name[dz]=སྣོད་འཛིན་འདི་ཐུ་ནར་དང་བཅས་ཁ་ཕྱེ།
Name[el]=Άνοιγμα φακέλου με το Thunar
Name[en_GB]=Open Folder with Thunar
Name[eo]=Malfermu dosierujon per Thunar
Name[es]=Abrir carpeta con Thunar
Name[et]=Avada kaust Thunariga
Name[eu]=Ireki karpeta Thunar-ekin
Name[fi]=Avaa kansio Thunarissa
Name[fr]=Ouvrir un dossier avec Thunar
Name[gl]=Abrir cartafol con Thunar
Name[he]=פתיחת התיקייה עם Thunar
Name[hr]=Otvori Mapu sa Thunarom
Name[hu]=Mappa megnyitása a Thunarral
Name[id]=Buka Folder dengan Thunar
Name[it]=Apre la cartella con Thunar
Name[ja]=Thunar でフォルダを開く
Name[kk]=Буманы Thunar көмегімен ашу
Name[ko]=Thunar로 폴더 열기
Name[ku]=Peldankê bi Thunarê veke
Name[lt]=Atidaryti katalogą su Thunar
Name[lv]=Atvērt mapi ar Thunar
Name[mk]=Отворете папка со Tunar
Name[nb]=Åpne mappe med Thunar
Name[nl]=Map openen met Thunar
Name[nn]=Opna mappa med Thunar
Name[pa]=ਥੰਨਰ ਨਾਲ ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Name[pl]=Menedżer plików Thunar
Name[pt]=Abrir pasta com o Thunar
Name[pt_BR]=Abrir pasta com o Thunar
Name[ro]=Thunar
Name[ru]=Открыть папку с помощью Thunar
Name[si]=Thunar සමඟ බහලුම විවෘත කරන්න
Name[sk]=Otvoriť priečinok v prehliadači Thunar
Name[sq]=Hap Dosje me Thunar-in
Name[sv]=Öppna mapp med Thunar
Name[te]=సంచయమును తునార్‌తో తెరువు
Name[tr]=Dizini Thunar'la Aç
Name[ug]=مۇندەرىجىنى Thunar دا ئاچ
Name[uk]=Вибрати теку використовуючи Thunar
Name[ur]=فولڈر تھنر سے کھولیں
Name[ur_PK]=فولڈر تھنر سے کھولیں
Name[vi]=Mở thư mục này với Thunar
Name[zh_CN]=用 Thunar 文件管理器打开文件夹
Name[zh_TW]=以 Thunar 開啟資料夾
Comment=Open the specified folders in Thunar
Comment[ar]=إفتح المجلدات المحددة في سونار
Comment[ast]=Abrir les carpetes especificaes en Thunar
Comment[be]=Адкрыць вызначаныя тэчкі ў Thunar
Comment[bn]=উল্লেখিত ফোল্ডারটি Thunar এ খুলুন
Comment[ca]=Obre les carpetes especificades dins Thunar
Comment[cs]=Otevřít specifikované složky aplikací Thunar
Comment[da]=Åbn de angivne mapper med Thunar
Comment[de]=Angegebene Ordner mit Thunar öffnen
Comment[dz]=གསལ་བཀོད་འབད་དེ་ཡོད་པའི་སྣོད་འཛིན་ཚུ་  ཐུ་ནར་ནང་ཁ་ཕྱེ།
Comment[el]=Άνοιγμα των επιλεγμένων φακέλων στον Thunar
Comment[en_GB]=Open the specified folders in Thunar
Comment[eo]=Malfermu definitajn dosierujojn per Thunar
Comment[es]=Abrir las carpetas especificadas en Thunar
Comment[et]=Avada täpsustatud kaustad Thunaris
Comment[eu]=Hautatutako direktorioak thunar-en ireki
Comment[fi]=Avaa valitut kansiot Thunarissa
Comment[fr]=Ouvrir les dossiers spécifiés dans Thunar
Comment[gl]=Abrir os cartafoles especificados en Thunar
Comment[he]=פתח את התיקיות שצויינו עם Thunar
Comment[hr]=Otvori odabrane mape u Thunaru
Comment[hu]=A megadott mappák megnyitása a Thunarban
Comment[id]=Buka folder yang ditentukan di Thunar
Comment[it]=Apre le cartelle specificate con Thunar
Comment[ja]=指定したフォルダを Thunar で開きます
Comment[kk]=Көрсетілген бумаларды Thunar көмегімен ашу
Comment[ko]=Thunar에서 지정된 폴더 열기
Comment[lt]=Atidaryti nurodytus katalogus Thunar
Comment[lv]=Atvērt norādītās mapes ar Thunar
Comment[mk]=Отворете ги посочените папки со Thunar
Comment[nb]=Åpne angitte mapper i Thunar
Comment[nl]=De geselecteerde mappen in Thunar openen
Comment[nn]=Opna dei valde mappene med Thunar
Comment[pa]=ਦਿੱਤੇ ਫੋਲਡਰ ਥੰਨਰ 'ਚ ਖੋਲ੍ਹੋ
Comment[pl]=Otwiera wybrane katalogi za pomocą menedżera plików Thunar
Comment[pt]=Abrir as pastas especificadas no Thunar
Comment[pt_BR]=Abrir as pastas especificadas no Thunar
Comment[ro]=Deschide dosarele specificate cu Thunar
Comment[ru]=Открыть выбранные папки в новых окнах
Comment[sk]=Otvorí vybrané priečinky v prehliadači Thunar
Comment[sq]=Hap dosjen e treguar me Thunar-in
Comment[sv]=Öppna de angivna mapparna i Thunar
Comment[te]=నిర్దేశించిన సంచయములను తునార్‌లో తెరువు
Comment[tr]=Thunar içerisinde belirlenen dizinleri aç
Comment[ug]=Thunar دىكى بەلگىلەنگەن مۇندەرىجىنى ئاچ
Comment[uk]=Відкрити вибрані теки використовуючи Thunar
Comment[ur]=متعین فولڈر تھنر میں کھولیں
Comment[ur_PK]=متعین فولڈر تھنر میں کھولیں
Comment[vi]=Mở các thư mục chỉ trước trong Thunar
Comment[zh_CN]=在 Thunar 文件管理器中打开指定的文件夹
Comment[zh_TW]=在 Thunar 中開啟指定的資料夾
GenericName=Open Folder
GenericName[ar]=إفتح المجلد
GenericName[ast]=Abrir carpeta
GenericName[be]=Адкрыць тэчку
GenericName[bn]=ফোল্ডার খুলুন
GenericName[ca]=Obre la carpeta
GenericName[cs]=Otevřít složku
GenericName[da]=Åbn mappe
GenericName[de]=Ordner öffnen
GenericName[dz]=སྣོད་འཛིན་ཁ་ཕྱེ།
GenericName[el]=Άνοιγμα φακέλου
GenericName[en_GB]=Open Folder
GenericName[eo]=Malfermu dosierujon
GenericName[es]=Abrir carpeta
GenericName[et]=Avada kaust
GenericName[eu]=Ireki karpeta
GenericName[fi]=Avaa kansio
GenericName[fr]=Ouvrir un dossier
GenericName[gl]=Abrir cartafol
GenericName[he]=פתיחת התיקייה
GenericName[hr]=Otvori Mapu
GenericName[hu]=Mappa megnyitása
GenericName[id]=Buka Folder
GenericName[it]=Apri cartella
GenericName[ja]=フォルダを開く
GenericName[kk]=Буманы ашу
GenericName[ko]=폴더 열기
GenericName[ku]=Peldankê veke
GenericName[lt]=Atidaryti katalogą
GenericName[lv]=Atvērt mapi
GenericName[mk]=Отворете папка
GenericName[nb]=Åpne mappe
GenericName[nl]=Map openen
GenericName[nn]=Opna mappe
GenericName[pa]=ਫੋਲਡਰ ਖੋਲ੍ਹੋ
GenericName[pl]=Otwórz katalog
GenericName[pt]=Abrir pasta
GenericName[pt_BR]=Abrir pasta
GenericName[ro]=Deschide dosarul
GenericName[ru]=Открыть папку
GenericName[si]=බහලුම විවෘත කරන්න
GenericName[sk]=Otvoriť priečinok
GenericName[sq]=Hap Dosje
GenericName[sv]=Öppna mapp
GenericName[te]=సంచయాన్ని తెరువు
GenericName[tr]=Dizin Aç
GenericName[ug]=مۇندەرىجە ئاچ
GenericName[uk]=Відкрити теку
GenericName[ur]=فولڈر کھولیں
GenericName[ur_PK]=فولڈر کھولیں
GenericName[vi]=Mở thư mục
GenericName[zh_CN]=打开文件夹
GenericName[zh_TW]=開啟資料夾
TryExec=Thunar
Exec=Thunar %F
Icon=Thunar
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;

# vi:set encoding=UTF-8:
