[Desktop Entry]
Version=1.0
Name=File Manager
Name[ar]=مدير الملفات
Name[ast]=Alministrador de ficheros
Name[be]=Кіраўнік файлаў
Name[bn]=ফাইল ব্যবস্থাপক
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=File Manager
Name[eo]=Dosier-administrilo
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[it]=Gestore di file
Name[ja]=ファイルマネージャ
Name[kk]=Файлдар басқарушысы
Name[ko]=파일 관리자
Name[ku]=Gerinendeyê Pelan
Name[lt]=Failų tvarkyklė
Name[lv]=Failu pārvaldnieks
Name[mk]=Менаџер на датотеки
Name[nb]=Filbehandler
Name[nl]=Bestandbeheerder
Name[nn]=Filhandsamar
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de arquivos
Name[ro]=Manager de fișiere
Name[ru]=Файловый менеджер
Name[sk]=Správca súborov
Name[sq]=Përgjegjës Kartelash 
Name[sv]=Filhanterare
Name[te]=ఫైల్ నిర్వాహకము
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇچ
Name[uk]=Файловий менеджер
Name[ur]=فائل منیجر
Name[ur_PK]=فائل منیجر
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理員
Comment=Configure the Thunar file manager
Comment[ar]=إعداد مدير الملفات سونار
Comment[ast]=Configure l'alministrador de ficheros Thunar
Comment[be]=Наладзіць Кіраўнік файлаў
Comment[bn]=Thunar ফাইল ম্যানেজার কনফিগার করুন
Comment[ca]=Configura el gestor de fitxers Thunar
Comment[cs]=Konfigurace správce souborů Thunar
Comment[da]=Indstil Thunar-filhåndteringen
Comment[de]=Dateimanager Thunar einrichten
Comment[el]=Ρύθμιση του διαχειριστή αρχείων Thunar
Comment[en_GB]=Configure the Thunar file manager
Comment[es]=Configure el administrador de archivos Thunar
Comment[et]=Seadistada Thunar-failihaldurit
Comment[eu]=Konfiguratu Thunar fitxategi kudeatzailea
Comment[fi]=Thunar-tiedostonhallinnan asetukset
Comment[fr]=Configurer le gestionnaire de fichiers Thunar
Comment[gl]=Configurar o xestor de ficheiros Thunar
Comment[he]=הגדרת מנהל הקבצים Thunar
Comment[hr]=Podesi Thunar upravitelja datoteka
Comment[hu]=A Thunar fájlkezelő beállítása
Comment[id]=Konfigurasi manajer berkas Thunar
Comment[it]=Configura il gestore di file Thunar
Comment[ja]=Thunar ファイルマネージャを設定します
Comment[kk]=Thunar файлдар басқарушысын баптау
Comment[ko]=Thunar 파일 관리자 설정
Comment[lv]=Konfigurēt Thunar failu pārvaldnieku
Comment[nb]=Konfigurer Thunar Filbehandler
Comment[nl]=Configureer Thunar bestandbeheerder
Comment[pl]=Konfiguruje preferencje menedżera plików Thunar
Comment[pt]=Configurar o gestor de ficheiros Thunar
Comment[pt_BR]=Configurar o gerenciador de arquivos Thunar
Comment[ro]=Schimbați opțiunile managerului de fișiere Thunar
Comment[ru]=Настроить файловый менеджер Thunar
Comment[sk]=Nastavenia správcu súborov Thunar
Comment[sq]=Formësoni përgjegjësin e kartelave Thunar
Comment[sv]=Konfigurera Filhanteraren Thunar
Comment[te]=తునార్ ఫైల్ నిర్వాహకాన్ని స్వరూపించండి
Comment[tr]=Thunar dosya yöneticisini yapılandır
Comment[ug]=Thunar ھۆججەت باشقۇرغۇنى تەڭشەش
Comment[uk]=Налаштувати файловий менеджер Thunar
Comment[ur]=تھنر فائل منیجر مرتب کریں
Comment[ur_PK]=تھنر فائل منیجر مرتب کریں
Comment[zh_CN]=配置 Thunar 文件管理器
Comment[zh_TW]=設定 Thunar 檔案管理員
Exec=thunar-settings
Icon=file-manager
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
StartupNotify=true
