[Desktop Entry]
Version=1.0
Name=Notifications
Name[ar]=الإخطارات
Name[ast]=Notificaciones
Name[ca]=Notificacions
Name[cs]=Oznámení
Name[da]=Beskeder
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[en_GB]=Notifications
Name[es]=Notificaciones
Name[eu]=Berri-emateak
Name[fi]=Huomautukset
Name[fr]=Notifications
Name[gl]=Notificacións
Name[hu]=Értesítések
Name[id]=Notifikasi
Name[it]=Notifiche
Name[ja]=通知
Name[kk]=Хабарламалар
Name[lv]=Paziņojumi
Name[nb]=Varsling
Name[nl]=Meldingen
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[pt_PT]=Notificações
Name[ro]=Notificări
Name[ru]=Оповещения
Name[sk]=Oznámenia
Name[sq]=Njoftime
Name[sv]=Notifieringar
Name[tr]=Bildiriler
Name[ug]=ئەسكەرتمىلەر
Name[uk]=Повідомлення
Name[zh_CN]=通知
Name[zh_TW]=通知
Comment=Customize how notifications appear on your screen
Comment[ar]=تخصيص كيف تظهر الإخطارات على الشاشة
Comment[ast]=Personalice cómo aparecen les notificaciones na pantalla
Comment[ca]=Personalitza com es mostren les notificacions
Comment[cs]=Upravte způsob, jakým se budou oznámení zobrazovat
Comment[da]=Tilpas hvordan beskeder fremkommer på din skærm
Comment[de]=Das Erscheinungsbild von Benachrichtigungen anpassen
Comment[el]=Προσαρμογή του τρόπου εμφάνισης των ειδοποιήσεων στην οθόνη
Comment[en_GB]=Customise how notifications appear on your screen
Comment[es]=Personalice cómo aparecen las notificaciones en la pantalla
Comment[eu]=Pertsonalizatu berri-emateak zure pantailan nola agertuko diren
Comment[fi]=Mukauta näytöllesi ilmestyvien huomautusten toimintaa
Comment[fr]=Personnaliser les notifications système
Comment[gl]=Personalice como se mostran as notificacións na súa pantalla
Comment[hu]=A képernyőn megjelenő értesítések megjelenésének személyre szabása
Comment[id]=Sesuaikan bagaimana notifikasi tampak di layar anda
Comment[it]=Personalizzazione del modo in cui le notifiche appaiono sullo schermo
Comment[ja]=画面上にどのように通知するか設定します
Comment[kk]=Хабарламалар көрсетілуін таңдаңыз
Comment[lv]=Pielāgojiet, kā paziņojumu parādās uz jūsu ekrāna
Comment[nb]=Tilpass visning av varsler på skjermen din
Comment[nl]=Weergave van meldingen aanpassen
Comment[pa]=ਕਸਟਮਾਈਜ਼ ਕਰੋ ਕਿ ਤੁਹਾਡੀ ਸਕਰੀਨ ਉੱਤੇ ਨੋਟੀਫਿਕੇਸ਼ਨ ਕਿੰਝ ਵੇਖਾਈ ਦੇਣ
Comment[pl]=Konfiguruje ustwienia powiadamiania
Comment[pt]=Personalizar o modo como as notificações aparecem no monitor 
Comment[pt_BR]=Personalize como as notificações devem aparecer na sua tela
Comment[pt_PT]=Personalizar como as notificações aparecem no monitor 
Comment[ro]=Personalizați cum apar pe ecran notificările
Comment[ru]=Настройка отображения оповещений на вашем экране
Comment[sk]=Prispôsobiť spôsob upozornenia na obrazovke
Comment[sq]=Përshtasni mënyrën se si shfaqen njoftimet në ekranin tuaj
Comment[sv]=Anpassa hur notifieringar ska visas på din skärm
Comment[tr]=Bildirilerin görünümünü özelleştirin
Comment[ug]=ئەسكەرتمىلەرنىڭ كۆرۈنۈش ئۇسۇلىنى Customize قىل
Comment[uk]=Налаштуйте показ повідомлень на Вашому екрані
Comment[zh_CN]=自定义通知在您屏幕上的显示方式
Comment[zh_TW]=自訂通知該如何在您螢幕上顯示
Exec=xfce4-notifyd-config
Icon=xfce4-notifyd
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=XFCE;
Categories=X-XFCE;Settings;DesktopSettings;
X-XfcePluggable=true
