Package: cb-lock
Version: 0.01
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 30
Depends: zenity, xscreensaver
Section: misc
Priority: extra
Homepage: http://crunchbang.org/
Description: CrunchBang LiveCD screenlock hack.
 Contains scripts for use with CrunchBang Linux LiveCD.
