Package: xfce4-screenshooter
Version: 1.8.1-2
Architecture: i386
Maintainer: Debian Xfce Maintainers <pkg-xfce-devel@lists.alioth.debian.org>
Installed-Size: 2968
Depends: libc6 (>= 2.4), libexo-1-0 (>= 0.5.0), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.18.0), libgtk2.0-0 (>= 2.24.0), libsoup2.4-1 (>= 2.4.0), libx11-6, libxext6, libxfce4ui-1-0, libxfce4util4 (>= 4.3.99.2), libxfixes3
Recommends: libatk1.0-0 (>= 1.12.4), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.9.0), libfreetype6 (>= 2.2.1), libice6 (>= 1:1.0.0), libpango1.0-0 (>= 1.14.0), libsm6, xfce4-panel (>= 4.7.7)
Replaces: xfce4-screenshooter-plugin (<< 1.4.90.0)
Section: xfce
Priority: optional
Homepage: http://goodies.xfce.org/projects/applications/xfce4-screenshooter
Description: screenshots utility for Xfce
 Screenshooter is an utility for the Xfce Desktop Environment. It can take
 desktop, rectangles or selected window screenshots, and you can bind it to
 your "Print Screen" key. A panel plugin is provided too.
