Package: cb-conky
Version: 0.01
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 30
Depends: conky
Section: misc
Priority: extra
Homepage: http://crunchbang.org/
Description: misc CrunchBang conky scripts.
 Misc scripts for manipulating conky.
