Package: cb-cowpowers
Version: 0.03
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 30
Section: misc
Priority: extra
Homepage: http://crunchbang.org/
Description: CrunchBang LiveCD hacks.
 Contains scripts for use with CrunchBang Linux LiveCD.
