Package: cb-tint2
Version: 0.01
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 30
Depends: tint2
Section: misc
Priority: extra
Homepage: http://crunchbang.org/
Description: misc CrunchBang tint2 scripts.
 Misc scripts for manipulating tint2 panel.
