Package: obapps
Version: 0.1.7
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 72
Depends: python, python-xlib, python-wxtools
Section: x11
Priority: extra
Homepage: http://sourceforge.net/projects/obapps/
Description: GUI tool for configuring application settings in Openbox
 A graphical tool for configuring the per-application settings
 (window matching) in the Openbox window manager.
