/***********************
 * fallback mode panel *
 ***********************/
PanelWidget,
PanelApplet,
PanelToplevel {
    padding: 0;
    background-color: @panel_bg_color;
    background-image: none;
    color: @panel_fg_color;
}

PanelApplet {
    border-width: 0;
}

PanelSeparator {
    border-width: 0;
    background-color: @panel_bg_color;
    background-image: none;
    color: @panel_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > Gtkpanel.panel,
PanelApplet > Gtkpanel.panel.menuitem,
Panelpanel.panel,
Panelpanel.panel.menuitem {
    -Panelpanel-icon-visible: true;

    border-width: 0;
    background-color: @panel_bg_color;
    background-image: none;
}

PanelAppletFrame {
    border-width: 0;
    background-color: @panel_bg_color;
    background-image: none;
}

PanelApplet .button {
    -GtkButton-inner-border: 2;

    border-width: 0 1px;
    border-radius: 0;
    border-color: transparent;
    background-color: @panel_bg_color;
    background-image: none;
    color: @panel_fg_color;
}

PanelApplet .button:active {
    border-width: 0 1px;
    border-radius: 0;
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.20);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.20);
    background-image: none;
    color: shade(@panel_fg_color, 1.8);
}

PanelApplet .button:prelight {
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.10);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.10);
    background-image: none;
    color: shade(@panel_fg_color, 1.8);
}

PanelApplet .button:active:prelight {
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.45);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.45);
    background-image: none;
    color: shade(@panel_fg_color, 1.8);
}

WnckPager, WnckTasklist {
    background-color: @panel_bg_color;
}
