[Desktop Entry]
Name=PNMixer
Name[de]=PNMixer
Name[fr]=PNMixer
GenericName=System Tray Mixer
GenericName[de]=Benachrichtigungsfeld Mixer
GenericName[fr]=Zone de Notification Mixeur
Comment=An audio mixer for the system tray
Comment[de]=Ein Audiomixer für das Benachrichtigungsfeld
Comment[fr]=Un Mixeur Audio pour la Zone de Notification
Exec=pnmixer
Icon=pnmixer
Terminal=false
Type=Application
Categories=Application;AudioVideo;