Package: transset-df
Version: 6-1
Architecture: i386
Maintainer: Daniel Moerner <dmoerner@gmail.com>
Installed-Size: 59
Depends: libc6 (>= 2.7), libx11-6, libxcomposite1 (>= 1:0.3-1), libxdamage1 (>= 1:1.1), libxfixes3, libxrender1
Recommends: xcompmgr
Conflicts: transset
Section: x11
Priority: optional
Homepage: http://www.forchheimer.se/transset-df/
Description: support on-the-fly transparency changing in xorg
 transset-df is a program that allows the user to change window transparencies
 on the fly. Supported methods include using window manager hotkeys, 'select
 by pointing' without actually shifting focus to the window, and selecting by
 name and window id. Transset-df is a modified version of xorg's transset and
 requires compositing to function. It is meant to allow a window manager
 independent way to support transparency.
