Package: tint2conf
Source: tint2
Version: 0.11~svn649-1
Architecture: i386
Maintainer: Kwaku "Killeroid" Yeboah-Antwi <kwakuyeboah@gmail.com>>
Installed-Size: 260
Depends: libatk1.0-0 (>= 1.12.4), libc6 (>= 2.3.6-6~), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.8.0), libfreetype6 (>= 2.2.1), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.16.0), libgtk2.0-0 (>= 2.8.0), libimlib2, libpango1.0-0 (>= 1.14.0), libx11-6, libxrender1
Section: x11
Priority: optional
Homepage: http://code.google.com/p/tint2/
Description: Configuration tool for tint2 taskbar
 A simple graphical tool to help users create their own config files for the tint2 taskbar.
