Package: compton-git
Version: 20121102-2
Architecture: i386
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 118
Depends: libc6 (>= 2.4), libconfig9, libgl1-mesa-glx | libgl1, libpcre3 (>= 8.10), libx11-6, libxcomposite1 (>= 1:0.3-1), libxdamage1 (>= 1:1.1), libxext6, libxfixes3, libxrandr2 (>= 4.3), libxrender1
Section: x11
Priority: optional
Description: X composition manager
 Compton is a compositor for X, and a fork of xcompmgr-dana.
