[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Debian Reference Manual
Comment=An introduction and reference manual for Debian
Icon=/usr/share/pixmaps/debian-official-logo-small.png
Type=Link
URL=http://www.debian.org/doc/manuals/reference/
