[Desktop Entry]
Version=1.0
Name=Screenshot
Name[ar]=لقطة الشاشة
Name[ast]=Captura de pantalla
Name[bg]=Снимка на екрана
Name[ca]=Captura
Name[cs]=Snímek obrazovky
Name[da]=Skærmbillede
Name[de]=Bildschirmfoto
Name[el]=Στιγμιότυπο οθόνης
Name[en_GB]=Screenshot
Name[es]=Captura de pantalla
Name[et]=Ekraanipilt
Name[eu]=Pantaila-argazkia
Name[fi]=Kuvakaappaus
Name[fr]=Capture d'écran
Name[gl]=Captura de pantalla
Name[hr]= Screenshot
Name[hu]=Képernyőkép
Name[id]=Cuplikan Layar
Name[is]=Skjámynd
Name[it]=Istantanea
Name[ja]=スクリーンショット
Name[kk]=Скриншот
Name[ko]=스크린샷
Name[lt]=Ekranvaizdis
Name[lv]=Ekrānkopija
Name[nb]=Skjermbilde
Name[nl]=Schermafdruk
Name[nn]=Skjermbilete
Name[pa]=ਸਕਰੀਨਸ਼ਾਟ
Name[pl]=Przechwycenie obrazu ekranu
Name[pt]=Captura de ecrã
Name[pt_BR]=Captura de tela
Name[ro]=Captură de ecran
Name[ru]=Снимок экрана
Name[si]=තිරපිටපත
Name[sk]=Snímka obrazovky
Name[sv]=Skärmbild
Name[tr]=Ekran görüntüsü
Name[ug]=ئېكران كۆرۈنۈشى
Name[uk]=Знімок екрану
Name[ur]=سکرین شوٹ
Name[ur_PK]=سکرین شوٹ
Name[vi]=Ảnh chụp màn hình
Name[zh_CN]=截图
Name[zh_TW]=螢幕快照
Comment=Take screenshots of the entire screen, of the active window or of a region
Comment[ar]=أخذ لقطات من الشاشة بأكملها ، من الإطار النشط أو منطقة
Comment[ast]=Fai captures de la pantalla completa, de la ventana activa o d'una zona
Comment[bg]=Направи снимка на целия екран, от активния прозорец или от района
Comment[ca]=Fes les captures de tota la pantalla, de la finestra activa o d'una regió
Comment[cs]=Pořizuje snímky celé obrazovky, aktivního okna nebo zvolené oblasti
Comment[da]=Tag skærmbillede af hele skærmen, af det aktive vindue eller af et område
Comment[de]=Bildschirmfoto des ganzen Bildschirms, des aktuellen Fensters oder eines Bereichs erstellen
Comment[el]=Λήψη στιγμιότυπου ολόκληρης οθόνης, ενεργού παραθύρου ή μίας περιοχής
Comment[en_GB]=Take screenshots of the entire screen, of the active window or of a region
Comment[es]=Realiza capturas de la pantalla completa, de la ventana activa o de una zona
Comment[et]=Tehke ekraanipildid tervest ekraanist, käsilolevast aknast või alast
Comment[eu]=Panataila osoaren, aktibo dagoen leihoaren edo panatailaren eremu baten  pantaila-argazki bat egin
Comment[fi]=Kaappaa kuvia koko näytöstä, aktiivisesta ikkunasta tai näytön alueesta
Comment[fr]=Prendre une capture d'écran de l'écran tout entier, de la fenêtre active ou d'une zone
Comment[gl]=Facer capturas de pantalla de toda a pantalla, da xanela activa ou dunha zona
Comment[hr]=Uhvati screenshotcijelog zaslona,aktivnog prozora ili regije
Comment[hu]=Képernyőkép készítése a teljes képernyőről, egy ablakról vagy területről
Comment[id]=Ambil cuplikan layar dari seluruh layar, dari jendela yang aktif atau dari sebuah daerah
Comment[is]=Taka skjámynd af öllum skjánum, af virkum glugga eða af einhverju svæði
Comment[it]=Esegue un'istantanea dell'intero schermo, di una sua porzione o della finestra attiva
Comment[ja]=画面全体、アクティブウィンドウまたは指定した領域のスクリーンショットを撮ります。
Comment[kk]=Толық экранның, белсенді терезенің не таңдауыңызша аймақтың скриншотын түсіреді
Comment[ko]=전체 스크린 또는 활성 창, 영역에 대해 스크린샷을 찍습니다
Comment[lt]=Darykite viso ekrano, aktyvaus lango ar pasirinktos srities ekranvaizdį
Comment[lv]=Uzņemt pilna ekrāna, aktīva loga, vai reģiona kopiju
Comment[nb]=Ta en skjermbildekopi av hele skjermen, det aktive vinduet eller et område av skjermen
Comment[nl]=Schermafdruk maken van het gehele scherm, het actieve venster of van een deelgebied
Comment[nn]=Ta ein skjermbiletkopi av heile skjermen, det aktive vindauget eller eit område av skjermen
Comment[pl]=Przechwytuje obraz całego ekranu, bieżącego okna lub wybranego obszaru
Comment[pt]=Capturar imagens de todo o ecrã, da janela ativa ou de uma zona
Comment[pt_BR]=Captura uma imagem da tela inteira, da janela ativa ou de uma região
Comment[ro]=Faceți capturi ale întregului ecran, a ferestrei active sau a unei regiuni
Comment[ru]=Выполнить снимок всего экрана, активного окна или региона
Comment[sk]=Vytvorí snímku celej obrazovky, aktívneho okna, alebo vybranej oblasti
Comment[sv]=Ta skärmbilder av hela skärmen, aktivt fönster eller ett område
Comment[tr]=Tüm ekranın, etkin pencerenin veya belirli bir alanın ekran görüntüsünü alır
Comment[ug]=تولۇق ئېكران، ئاكتىپ كۆزنەك ياكى كۆرسىتىلگەن دائىرىنىڭ ئېكران كۆرۈنۈشىنى رەسىمگە ئالىدۇ.
Comment[uk]=Отримати знімки всього екрану, активного вікна або окремої області
Comment[ur]=پوری سکرین، فعال ونڈو یا مخصوص علاقے کی تصویر اتاریں
Comment[ur_PK]=پوری سکرین، فعال ونڈو یا مخصوص علاقے کی تصویر اتاریں
Comment[vi]=Chụp toàn bộ màn hình, hay cửa sổ đang kích hoạt hay một vùng màn hình
Comment[zh_CN]=获取全屏幕、活动窗口或某一区域的截图
Comment[zh_TW]=拍攝整個螢幕、使用中視窗、或某個區域的螢幕快照
Icon=applets-screenshooter
Exec=xfce4-screenshooter
Type=Application
StartupNotify=true
Terminal=false
Categories=GTK;Utility;
