[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Trash Applet
Name[ar]=بريمج المهملات
Name[ast]=Miniaplicación de papelera
Name[be]=Аплет Сьметніцы
Name[bn]=আবর্জনা অ্যাপলেট
Name[ca]=Miniaplicació de paperera
Name[cs]=Applet Koš
Name[da]=Papirkurvsminiprogram
Name[de]=Papierkorb
Name[dz]=ཕྱགས་ཧོད་ཨེཔ་ལེཊི།
Name[el]=Εφαρμογίδιο απορριμμάτων
Name[en_GB]=Wastebasket Applet
Name[eo]=Forviŝuja Apleto
Name[es]=Miniaplicación de papelera
Name[et]=Paberikorv
Name[eu]=Zakarrontzi applet-a
Name[fi]=Roskakorisovelma
Name[fr]=Applet corbeille
Name[gl]=Miniaplicativo do lixo
Name[he]=יישומון האשפה
Name[hu]=Kuka kisalkalmazás
Name[id]=Applet Kotak Sampah
Name[it]=Applet cestino
Name[ja]=ゴミ箱アプレット
Name[kk]=Қоқыс шелегі апплеті
Name[ko]=쓰레기통 애플릿
Name[ku]=Sepanoka Qutiya Çopê
Name[lt]=Šiukšlinės valdiklis
Name[lv]=Miskastes sīklietotne
Name[mk]=Аплет за ѓубре
Name[nb]=Papirkurv visning
Name[nl]=Prullenbak-programmaatje
Name[nn]=Papirkorga
Name[pa]=ਰੱਦੀ ਐਪਲਿਟ
Name[pl]=Aplet kosza
Name[pt]=Mini-aplicação do lixo
Name[pt_BR]=Miniaplicativo da lixeira
Name[ro]=Applet al coșului de gunoi
Name[ru]=Корзина
Name[sk]=Aplet koša
Name[sq]=Zbatimthi Hedhurina
Name[sv]=Papperskorgen
Name[te]=ఆప్లెట్‌ను చెత్తలోవెయ్యి
Name[tr]=Çöp programcığı
Name[ug]=ئەخلەت ساندۇقى Applet ئى
Name[uk]=Аплет Смітника
Name[ur]=ردی ایپلیٹ
Name[ur_PK]=ردی ایپلیٹ
Name[zh_CN]=回收站小程序
Name[zh_TW]=垃圾桶小程式
Comment=Display the trash can
Comment[ar]=عرض المهملات
Comment[ast]=Amosar la papelera
Comment[be]=Адлюстраваць зьмест зьметніцы
Comment[bn]=আবর্জনা ক্যান প্রদর্শন
Comment[ca]=Mostra la paperera
Comment[cs]=Zobrazovat koš
Comment[da]=Vis papirkurven
Comment[de]=Schneller Zugriff auf den Papierkorb
Comment[dz]=ཕྱགས་ཧོད་ཧོད་འདི་བཀྲམ་སྟོན་འབད།
Comment[el]=Προβολή του κάδου απορριμάτων
Comment[en_GB]=Display the Wastebasket
Comment[eo]=Montru la rubujon
Comment[es]=Mostrar la papelera
Comment[et]=Näidata paberikorvi
Comment[eu]=Zakarrontzi ahalmenak bistarazi
Comment[fi]=Näytä roskakorin sisältö.
Comment[fr]=Afficher la corbeille
Comment[gl]=Mostrar o colector de lixo
Comment[he]=הצגת האשפה
Comment[hr]=Prikaži smeće
Comment[hu]=A Kuka megjelenítése
Comment[id]=Tampilkan kotak sampah
Comment[it]=Mostra il cestino
Comment[ja]=ゴミ箱の中身を表示します
Comment[kk]=Қоқыс шелегін көрсету
Comment[ko]=쓰레기통을 보여줍니다.
Comment[lt]=Rodyti šiukšlinę
Comment[lv]=Attēlot miskasti
Comment[mk]=Прикажи ја кантата со ѓубре
Comment[nb]=Vis papirkurven
Comment[nl]=Prullenbak weergeven
Comment[nn]=Vis papirkorga
Comment[pa]=ਰੱਦੀ ਡੱਬਾ ਵੇਖਾਓ
Comment[pl]=Wyświetla zawartość kosza
Comment[pt]=Exibir o caixote do lixo
Comment[pt_BR]=Exibir a lixeira
Comment[ro]=Arată coșul de gunoi
Comment[ru]=Отображает корзину на панели
Comment[sk]=Zobrazovať kôš
Comment[sq]=Shfaq kosh hedhurinash
Comment[sv]=Visa papperskorgen
Comment[te]=చెత్తబుట్టని చూపించు
Comment[tr]=Çöp Kutusunu Görüntüle
Comment[ug]=ئەخلەت ساندۇقىنىڭ ئىچىنى كۆرسىتىش
Comment[uk]=Показати Смітник
Comment[ur]=ردی ظاہر کریں
Comment[ur_PK]=ردی ظاہر کریں
Comment[zh_CN]=显示回收站
Comment[zh_TW]=顯示垃圾桶
Icon=user-trash
X-XFCE-Module=thunar-tpa
X-XFCE-Internal=FALSE
