Package: cb-wmhacks
Version: 0.06
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 39
Depends: wmctrl, python, python-xlib, xdotool (>= 1:2.20110530.1-3)
Recommends: gmrun
Section: misc
Priority: extra
Homepage: http://crunchbang.org/
Description: CrunchBang window manager hacks.
 A script for adding hot corners and aero style window snapping
 to Openbox. Written for CrunchBang Linux <http://crunchbang.org/>
 by Philip Newborough <corenominal@corenominal.org>
