Package: cb-exit
Version: 0.01
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 33
Depends: python-gtk2, consolekit, upower
Section: misc
Priority: extra
Homepage: http://crunchbang.org/
Description: CrunchBang logout script.
 GUI logout/shutdown/restart/suspend script.
