[Desktop Entry]
Type=Application
Version=1.0
Name=Mail Recipient
Name[ar]=تم تسليم البريد
Name[ast]=Destinatariu de corréu
Name[be]=Атрымальнік
Name[bn]=মেইলের প্রাপক
Name[ca]=Destinatari de correu
Name[cs]=Příjemce elektronické pošty
Name[da]=Postmodtager
Name[de]=E-Mail-Empfänger
Name[dz]=ཡིག་འཕྲིན་ཐོབ་མཁན།
Name[el]=Παραλήπτης αλληλογραφίας
Name[en_GB]=Mail Recipient
Name[eo]=Ret-poŝt adresato
Name[es]=Destinatario de correo
Name[et]=Kirja saaja
Name[eu]=ePosta
Name[fi]=Postin vastaanottaja
Name[fr]=Destinataire courriel
Name[gl]=Destinatario
Name[he]=נמען דוא״ל
Name[hr]=Primatelj pošte
Name[hu]=Levél címzettje
Name[id]=Penerima Surat
Name[it]=Destinatario
Name[ja]=メール (添付ファイル)
Name[kk]=Хат алушысы
Name[ko]=메일 접수자
Name[lt]=Korespondecijos gavėjas
Name[lv]=Pasta saņēmējs
Name[mk]=Примач на поштата
Name[nb]=Epost mottaker
Name[nl]=E-mail-ontvanger
Name[nn]=Mottakar av e-posten
Name[pa]=ਪੱਤਰ ਪ੍ਰਾਪਤਕਰਤਾ
Name[pl]=Odbiorca poczty elektronicznej
Name[pt]=Destinatário de correio
Name[pt_BR]=Destinatário do e-mail
Name[ro]=Destinatarul unui mail
Name[ru]=Электронная почта
Name[sk]=Adresár
Name[sq]=Marrës Poste
Name[sv]=E-postmottagare
Name[te]=మెయిల్ గ్రహీత
Name[tr]=E-posta Alan
Name[ug]=تاپشۇرۇپ ئالغۇچى
Name[uk]=Одержувач листа
Name[ur]=ڈاک وصول کار
Name[ur_PK]=ڈاک وصول کار
Name[zh_CN]=邮件接受者
Name[zh_TW]=郵件接收者
Icon=internet-mail
Exec=/usr/lib/i386-linux-gnu/Thunar/thunar-sendto-email %F
