Package: waldorf-slim-theme
Version: 0.03
Architecture: all
Maintainer: Philip Newborough <corenominal@corenominal.org>
Installed-Size: 46
Depends: fonts-liberation
Section: x11
Priority: extra
Homepage: http://crunchbang.org/
Description: default SLiM theme for CrunchBang
 Default SLiM graphical login theme for CrunchBang Linux.
